setuptools 
build 
wheel 
aiofiles 
annotated_doc 
annotated_types 
anyio 
certifi 
cffi 
charset_normalizer 
click_default_group 
click 
colorama 
contourpy 
cryptography 
customtkinter 
cycler 
darkdetect 
decorator 
et_xmlfile 
fastapi 
fonttools 
greenlet 
h11 
httptools 
idna 
jinja2 
kiwisolver 
lxml 
markupsafe 
matplotlib 
networkx 
numpy 
openpyxl 
packaging 
pandas 
pillow 
pip 
pluggy 
psutil 
pyproject_hooks 
pycparser 
pydantic_core 
pydantic 
pyjwt 
pyparsing 
python_dateutil 
python_dotenv 
python_multipart 
pytz 
pyuac 
pywin32 
pyyaml 
reportlab 
requests 
scapy 
six 
sniffio 
sqlalchemy 
sqlite_fts4 
sqlite_utils 
starlette 
tabulate 
tee 
typing_extensions 
typing_inspection 
tzdata 
urllib3 
uvicorn 
watchfiles 
websockets 
WMI 
xlsxwriter 