annotated-doc
annotated-types
anyio
click
colorama

fastapi
starlette
uvicorn[standard]
websockets

h11
idna
sniffio

Jinja2
MarkupSafe
python-multipart
aiofiles

pydantic
pydantic_core
typing-inspection
typing_extensions

pandas
numpy
python-dateutil
pytz

psutil

scapy

sqlalchemy
sqlite-utils

pywin32
wmi

watchfiles

requests

pyyaml

cryptography
pyjwt

matplotlib
networkx

openpyxl
xlsxwriter
reportlab

lxml

customtkinter
