<div class="top-header">

    <div class="header-left">

        <div class="logo-section">

            <img
                src="{{ url_for('static', path='icons-W/shield.png') }}"
                class="logo-icon theme-icon"
            >

            <div class="logo-text">

                <div class="logo-main">
                    SOC
                </div>

                <div class="logo-sub">
                    Simulator
                </div>

            </div>

        </div>

        <div class="logo-divider"></div>
        <div class="platform-text">
            
            <span>Host + Network</span>
            <span>IDS Platform</span>

        </div>

    </div>


    <div class="header-center">

        <img
            src="{{ url_for('static', path='icons-W/cctv.png') }}"
            class="header-icon theme-icon"
        >

        <div class="dashboard-title">
            DASHBOARD OVERVIEW
        </div>

        <img
            src="{{ url_for('static', path='icons-W/analytics.png') }}"
            class="header-icon theme-icon"
        >

    </div>

        <img
            src="{{ url_for('static', path='icons-W/sign.png') }}"
            alt="Developer Signature"
            class="theme-icon"
        >


</div>